* {
    box-sizing: border-box;
}
body {
    margin : 0;
    background-color: silver;
    min-width: 960px;
}
#container {
    width: 840px;
    margin: 0 auto;
    text-align: center;
}
.box {
    display: inline-block;
    margin: 10px;
    width: 80px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 5px 5px 5px 5px gray;
}
.color {
    background-color: skyblue;
    color: white;
}
.container {
    text-align: center;
    margin-top: 30px;
}